<div class="container mt-4 mb-4 bg-transparent border border-info">
  <div class="row justify-content-center">
    <div class="col-12 mt-4 mb-1">

      <h1 class="text-center text-info"> Orders </h1>

      <h6 class ="mt-4">Welcome, <%= current_user.username %>! We have <b><%= pluralize(@total_orders, "order") %> to be processed.</b></h6>
      <small class="form-text text-muted mb-4">Date/Time: <%= Date.today.strftime("%d/%m/%Y") %> <%= Time.now.strftime("%H:%M:%S") %></small>

      <div class="table-responsive">
        <table class = "table table-hover">
          <thead>
            <tr class="text-info">
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">E-mail</th>
              <th scope="col">Payment Method</th>
              <th scope="col">Created at</th>
              <th scope="col">Created by</th>
            </tr>
          </thead>

          <tbody>
            <% @place_orders.each do |place_order| %>
              <tr scope="row">
                <td><%= place_order.name %></td>
                <td><%= place_order.address %></td>
                <td><%= place_order.email %></td>
                <td><%= place_order.pay_type %></td>
                <td><%= place_order.created_at.strftime("%d/%m/%y %H:%M:%S") %></td>
                <td><%= place_order.user.username if place_order.user %></td>
                <td><%= link_to 'Show', place_order %></td>
                <td><%= link_to 'Edit', edit_place_order_path(place_order) %></td>
                <td><%= link_to 'Delete', place_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <br/>

    </div>
  </div>
</div> 
